h1 {
    color:blue;
}

ul {
    list-style-type: none; /* removes the bullets from the list */
    margin: 0;    /* removes browser default settings */
    padding: 0;   /* removes browser default settings */
    overflow: hidden;
    background-color: #7a7c79;
    color: white;
}
/*
.container.container1 {
  padding-left: 0px;
} */

.flashes {
  padding: 10px 20px;  /* vertical horizontal */
  background-color: #66ffb3;  /* 70% */
  border-style: solid;
  border-width: 2px;
  border-color: #00e673;   /* 45% */
  color: black;
  font-size: 18px;
  border-radius: 8px;
}

li {
    display: inline;  /* makes the list elements be in a line instead of vertcal */
    border-right: 1px solid #bbb;
}

li a {
  padding: 12px;
  color: white;

}

li a:hover {
  color: lightgreen
}

form {
  text-align: center;
}

.centered {
  position: fixed;
  top:50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.login {
  margin-bottom: 5px;
  height: 35px;
  width:200px;
  box-sizing: border-box;
  font-size: 16px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 160px;
    height: 35px;
}

.button2 {
  background-color: #008CBA;
  border-radius: 8px;
}

.jumbotron.jumbotron-home {
    margin-top: 10px;
    text-align: center;
    background-color: lightgreen;
}

.jumbotron.jumbotron-cb {
  margin-top: 10px;
  background-color: #7986CB;
  color: white;
  text-align: center;
}

.cb_backbround {
  background-color: lightblue;
}
