h1 {
    color:blue;
}

ul {
    list-style-type: none; /* removes the bullets from the list */
    margin: 10px;    /* removes browser default settings */
    padding: 10px;   /* removes browser default settings */
    /* overflow: hidden; */
    background-color: #7a7c79;
    color: white;
}

.flashes {
  padding: 10px 20px;  /* vertical horizontal */
  background-color: #66ffb3;  /* 70% */
  border-style: solid;
  border-width: 2px;
  border-color: #00e673;   /* 45% */
  color: black;
  font-size: 18px;
  border-radius: 8px;
}

.error {
  background-color: #ff6666;
  border-color: #e60000;
}

.warn {
  background-color: #ffff66;
  border-color: #e6e600;
}
.container.flask_container {

}

li {
    display: inline;  /* makes the list elements be in a line instead of vertcal */
}

li a {
  padding: 12px;
  color: white;
  font-size: 15px;
}

li a:hover {
  color: lightgreen
}

form {
  text-align: center;
}

.centered {
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login {
  margin-bottom: 5px;
  height: 35px;
  width:200px;
  box-sizing: border-box;
  font-size: 16px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 160px;
    height: 35px;
}

.button2 {
  background-color: #008CBA;
  border-radius: 8px;
}

.button3 {
  width: 25px;
  height: 25px;
  border-radius: 8px;
  background-color: red;
  text-align: center;
}

.jumbotron.jumbotron-home {
    margin-top: 10px;
    text-align: center;
    background-color: lightgreen;
}

.jumbotron.jumbotron-cb {
  margin-top: 10px;
  background-color: #7986CB;
  color: white;
  text-align: center;
}

.cb_background {
  background-color: lightblue;
}

.navbar {
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-size: 15px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.table_header {
  font-size: 16px;
  font-weight: bold;
}
