{% extends "cb_header.html" %}
{% block body %}

    <div class="container">
      <div class="jumbotron jumbotron-cb">
        <h1>Add Comic Page</h1>
      </div>
    </div>

    <form action="{{ url_for('cb_add_comic_page') }}" name="submit_form" onsubmit="return valForm()" method="POST">
       <h3>Comic Information</h3>
      {% if issue == "" %}
        <input type="text" name="issue_name" placeholder="Issue Name"></input></br>
      {% else %}
        <input type="text" name="issue_name" value="{{issue}}"></input></br>
      {% endif %}

      <input type="text" name="issue_number" placeholder="Issue Number"></input><br>

      {% if volume == "" %}
        <input type="text" name="volume" placeholder="Volume"></input><br>
      {% else %}
        <input type="text" name="volume" value="{{volume}}"></input><br>
      {% endif %}

      <input type="text" name="arc" placeholder="Arc"></input><br>
      <input type="text" name="title" placeholder="Title"></input><br>
      <input type="text" name="price" placeholder="0.00"></input><br>

      <input type="submit" value="submit" /><br>
    </form>

    <script>
      function valForm() {
        var name = document.forms["submit_form"]["issue_name"].value;
        var num = document.forms["submit_form"]["issue_number"].value;
        var vol = document.forms["submit_form"]["volume"].value;

        if (name == "" || vol == "" || num == "") {
          window.alert("Issue Name, Issue Number, and Volume must all be filled out.");
          return false;
        }
      }
    </script>

{% endblock %}
