{% extends "cb_header.html" %}
{% block body %}
<div class="container">

  <div class="jumbotron">

    {% if name_data != [] %}
      <h2>Name Info</h2>
      <table id="table" border = 1>
        <thread>
          <td class="farts">Issue Name</td>
          <td class="farts">Issue Number</td>
          <td class="farts">Volume</td>
          <td class="farts">Title</td>
          <td class="farts">Arc</td>
          <td class="farts">Price</td>
          <td class="farts"></td>
        </thead>
        {% for row in name_data %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>
              <a class="button button3" href="{{ url_for('cb_delete_comic', table=row[6], id=row[7]) }}">x</a>
            </td>
          </tr>
        {% endfor %}

      </table>
      <br>
    {% endif %}

    {% if single_data != [] %}
      <h2>Comic Info</h2>
      <table id="table" border = 1>
        <thread>
          <td class="farts">Issue Name</td>
          <td class="farts">Issue Number</td>
          <td class="farts">Volume</td>
          <td class="farts">Title</td>
          <td class="farts">Arc</td>
          <td class="farts">Price</td>
          <td class="farts"></td>
        </thead>
        {% for row in single_data %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>
              <a class="button button3" href="{{ url_for('cb_delete_comic', table=row[6], id=row[7]) }}">x</a>
            </td>
          </tr>
        {% endfor %}

      </table>
      <br>
    {% endif %}


    {% if vol_data != [] %}
      <h2>Volume Info</h2>
      <table id="table" border = 1>
        <thread>
          <td class="farts">Issue Name</td>
          <td class="farts">Issue Number</td>
          <td class="farts">Volume</td>
          <td class="farts">Title</td>
          <td class="farts">Arc</td>
          <td class="farts">Price</td>
          <td class="farts"></td>
        </thead>
        {% for row in vol_data %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>
              <a class="button button3" href="{{ url_for('cb_delete_comic', table=row[6], id=row[7]) }}">x</a>
            </td>
          </tr>
        {% endfor %}

      </table>
      <br>
    {% endif %}

    {% if group_data != [] %}
      <h2>Group Info</h2>
      <table id="table" border = 1>
        <thread>
          <td class="farts">Issue Name</td>
          <td class="farts">Issue Number</td>
          <td class="farts">Volume</td>
          <td class="farts">Title</td>
          <td class="farts">Arc</td>
          <td class="farts">Price</td>
          <td class="farts"></td>
        </thead>
        {% for row in group_data %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>
              <a class="button button3" href="{{ url_for('cb_delete_comic', table=row[6], id=row[7]) }}">x</a>
            </td>
          </tr>
        {% endfor %}

      </table>
      <br>
    {% endif %}

    {% if title_data != [] %}
      <h2>Title Info</h2>
      <table id="table" border = 1>
        <thread>
          <td class="farts">Issue Name</td>
          <td class="farts">Issue Number</td>
          <td class="farts">Volume</td>
          <td class="farts">Title</td>
          <td class="farts">Arc</td>
          <td class="farts">Price</td>
          <td class="farts"></td>
        </thead>
        {% for row in title_data %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>
              <a class="button button3" href="{{ url_for('cb_delete_comic', table=row[6], id=row[7]) }}">x</a>
            </td>
          </tr>
        {% endfor %}

      </table>
      <br>
    {% endif %}


    {% if arc_data != [] %}
      <h2>Arc Info</h2>
      <table id="table" border = 1>
        <thread>
          <td class="farts">Issue Name</td>
          <td class="farts">Issue Number</td>
          <td class="farts">Volume</td>
          <td class="farts">Title</td>
          <td class="farts">Arc</td>
          <td class="farts">Price</td>
          <td class="farts"></td>
        </thead>
        {% for row in arc_data %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>
              <a class="button button3" href="{{ url_for('cb_delete_comic', table=row[6], id=row[7]) }}">x</a>
            </td>
          </tr>
        {% endfor %}

      </table>
    {% endif %}



  </div>
</div>

{% endblock %}
