{% extends "cb_header.html" %}
{% block body %}
<div class="container-fluid partial">

  <br>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Issue Name</th>
        <th>Issue Number</th>
        <th>Volume</th>
        <th>Title</th>
        <th>Arc</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

    {% for row in rows %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>


          <!-- <td> <script>f() </script> </td>
          <script>
            function f() {
              document.write(   {{row[5]}}.toFixed(2)  );
              // return {{row[5]}}.toFixed(2);
              return ;
            } -->
          <!-- </script> -->
          <td>
            <a class="button button-delete" href="{{ url_for('cb_delete_comic', table=row[6], id=row[7]) }}">x</a>
          </td>
        </tr>
    {% endfor %}
  </tbody>

  </table>

</div>

{% endblock %}
