<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ComicBase</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/test.css">
  </head>

  <body class="cb_background">

    <!-- Navigation Bar -->
    <div style="margin-bottom: 10px" class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <!-- is obviously the first part -->
        <a class="navbar-brand" href="{{ url_for('cb_home_page') }}">ComicBase</a>

        {% if session['logged_in'] %}


          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('cb_display_page') }}">Display All</a>
              </li>
	      <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('test_pages') }}">Tables</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('cb_add_comic_page') }}">Add</a>
              </li>
              <!-- search bar -->
              <form class="form-inline my-2 my-lg-0" action="{{ url_for('cb_unified') }}" method="POST">
                  <input type="text" class="form-control" name="search_bar" placeholder="Search">
                  <!-- <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                  </div> -->
              </form>
            </ul>

            <!-- right side navbar -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('cb_logout_page') }}">Logout</a>
              </li>
            </ul>
          </div>

        {% else %}
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('cb_login_page') }}">Login<span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
        {% endif %}

      </nav>
    </div>


    <!-- get the flashed messages -->
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="flashes {{ category }} alert alert-dismissible" role="alert">
        		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
        			{{message}}
      		  </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>

    {% block body %} {% endblock %}


    <script>function validateForm() {
      console.log("this is a test for onsubmit validation")
      var name = document.forms["submit_form"]["issue_name"].value;
      var num = document.forms["submit_form"]["issue_number"].value;
      var vol = document.forms["submit_form"]["volume"].value;
      if (vol != "" && name == "") {
        window.alert("Volume must be accompanied by Issue Name");
        return false;
      }
      if (num != "" && name == "") {
        window.alert("Issue Number must be accompanied by Issue Name");
        return false;
      }
    }</script>

  </body>
</html>
