<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>comicBase</title>
  </head>

  <body class="cb_backbround">


    <ul>
      <li><a href="{{ url_for('cb_home_page') }}">Home</a></li>
      <li><a href="{{ url_for('cb_login_page') }}">Login</a></li>
    </ul>

    <!-- get the flashed messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <!-- print the message -->
            <div class="container">
              <div class="flashes">
                {{ message }}
              </div>
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

  {% block body %} {% endblock %}

  </body>
</html>
