{% extends "cb_header.html" %}
{% block body %}
<div class="container partial">
  <h1>Volume Information</h1>

  <table>
    <thead>
      <td>Comic</td>
      <td>Year</td>
      <td>Nickname</td>
      <td>Volume</td>
      <td>ComicVine Link</td>
    </thead>
    <tbody>



      <tr>
        <td>DC Universe Rebirth Main Page</td>
        <td>2016-</td>
        <td></td>
        <td></td>
        <td><a href="https://comicvine.gamespot.com/dc-rebirth/4015-56950/">here</a></td>
      </tr>
      <tr>
        <td>Action Comics</td>
        <td>2016-</td>
        <td>Rebirth</td>
        <td>V3</td>
        <td><a href="https://comicvine.gamespot.com/action-comics/4050-91078/">here</a></td>
      </tr>
      <tr>
        <td>Detective Comics</td>
        <td>2016-</td>
        <td>Rebirth</td>
        <td>V3</td>
        <td><a href="https://comicvine.gamespot.com/detective-comics/4050-91098/">here</a></td>
      </tr>
      <tr>
        <td>Batman</td>
        <td>2016-</td>
        <td>Rebirth</td>
        <td>V3</td>
        <td><a href="https://comicvine.gamespot.com/batman/4050-91273/">here</a></td>
      </tr>
      <tr>
        <td>Green Lanterns</td>
        <td>2016-</td>
        <td>Rebirth</td>
        <td>V1</td>
        <td><a href="https://comicvine.gamespot.com/green-lanterns/4050-91285/">here</a></td>
      </tr>
      <tr>
        <td>Superman</td>
        <td>2016-</td>
        <td>Rebirth</td>
        <td>V4</td>
        <td><a href="https://comicvine.gamespot.com/superman/4050-91298/">here</a></td>
      </tr>
      <tr>
        <td>The Flash</td>
        <td>2016-</td>
        <td>Rebirth</td>
        <td>V5</td>
        <td><a href="https://comicvine.gamespot.com/the-flash/4050-91750/">here</a></td>
      </tr>
      <tr>
        <td>Wonder Woman</td>
        <td>2016-</td>
        <td>Rebirth</td>
        <td>V5</td>
        <td><a href="https://comicvine.gamespot.com/wonder-woman/4050-91774/">here</a></td>
      </tr>
      <tr>
        <td>Batgirl</td>
        <td>2016-</td>
        <td>Rebirth</td>
        <td>V5</td>
        <td><a href="https://comicvine.gamespot.com/batgirl/4050-92542/">here</a></td>
      </tr>
      <tr>
        <td>Nightwing</td>
        <td>2016-</td>
        <td>Rebirth</td>
        <td>V4</td>
        <td><a href="https://comicvine.gamespot.com/nightwing/4050-92569/">here</a></td>
      </tr>
      <tr>
        <td>Titans</td>
        <td>2016-</td>
        <td>Rebirth</td>
        <td>V3</td>
        <td><a href="https://comicvine.gamespot.com/titans/4050-92577/">here</a></td>
      </tr>
      <tr>
        <td>Superwoman</td>
        <td>2016-</td>
        <td>Rebirth</td>
        <td>V1</td>
        <td><a href="https://comicvine.gamespot.com/superwoman/4050-92976/">here</a></td>
      </tr>
      <tr>
        <td>Deathstroke</td>
        <td>2016-</td>
        <td>Rebirth</td>
        <td>V4</td>
        <td><a href="https://comicvine.gamespot.com/deathstroke/4050-93375/">here</a></td>
      </tr>
      <tr>
        <td>Supergirl</td>
        <td>2016-</td>
        <td>Rebirth</td>
        <td>V7</td>
        <td><a href="https://comicvine.gamespot.com/supergirl/4050-93948/">here</a></td>
      </tr>
      <tr>
        <td>Trinity</td>
        <td>2016-2018</td>
        <td>Rebirth</td>
        <td>V2 ?</td>
        <td><a href="https://comicvine.gamespot.com/trinity/4050-94296/">here</a></td>
      </tr>
      <tr>
        <td>Teen Titans</td>
        <td>2016-</td>
        <td>Rebirth</td>
        <td>V6</td>
        <td><a href="https://comicvine.gamespot.com/teen-titans/4050-95242/">here</a></td>
      </tr>
      <tr>
        <td>Man of Steel</td>
        <td>2018-2018</td>
        <td>Rebirth</td>
        <td>V1</td>
        <td><a href="https://beta.comicvine.com/the-man-of-steel/4050-111145/">here</a></td>
      </tr>

    </tbody>
  </table>

</div>
{% endblock %}
