{% extends "cb_header.html" %}
{% block body %}
<div class="container partial">
  <h1>Volume Information</h1>

  <table>
    <thead>
      <td>Comic</td>
      <td>Nickname</td>
      <td>Volume</td>
      <td>ComicVine Link</td>
    </thead>
    <tbody>
      <tr>
        <td>Action Comics</td>
        <td>Rebirth</td>
        <td>V3</td>
        <td></td>
      </tr>

      <tr>
        <td>Detective Comics</td>
        <td>Rebirth</td>
        <td>V3</td>
        <td></td>
      </tr>


    </tbody>
  </table>

</div>
{% endblock %}
