{% extends "mw_header.html" %}
{% block body %}

<br>

    Hi, I'm Nathan! I'm a senior at Missouri University of Science and Technology
    pursuing degrees in Computer Science and Computer Egnineering and a minor in Mathematics.
    When I'm not at school I enjoy sending time with my cats, playing my ukulele, and fishing for trout!
    <br>
    <br>

    Please feel free to contact me any time at: nawwx3@mst.edu  <br>


    <br>

    <br>
    Following are some of my code examples and social accounts! <br>
   <a href="https://gitlab.com/nawwx3">Gitlab</a>  <br>
   <a href="https://github.com/nawwx3">Github</a>  <br>
   <a href="https://mst.joinhandshake.com/users/6529389">Hire Miners</a>  <br>
   <a href="https://www.linkedin.com/in/nathan-welch-54b107104/">LinkedIn</a>  <br>


{% endblock %}
