{% extends "mw_header.html" %}
{% block body %}

    <h1>This is the about me page</h1>

    Hi, I'm Nathan! I'm a senior at Missouri University of Science and Technology
    pursuing degrees in Computer Science and Computer Egnineering and a minor in Mathematics.
    I'm a part of the underwater robotics design team.

    <br>
    <h3>Links:</h3>
    <a href="https://gitlab.com/nawwx3">Gitlab</a>  <br>
    <a href="https://github.com/nawwx3">Github</a>  <br>




    LinkedIn:    <br>
    Hire Miners:    <br>

{% endblock %}
