{% extends "mw_header.html" %}
{% block body %}

  <h1>This is the projects page</h1>

  <h3>Personal Projects</h3>

  <a href="nathanwelch.me/comicBase">comicBase</a> - Online comic book database used to stop buying duplicate comics
<br>Project's location on <a href="https://gitlab.com/nawwx3/myWebsite/tree/master/myWebsite">gitlab</a>
<br>
<br>


  Starfighter - game I made in Java, summer 2016
  <br>Project's location on <a href="https://github.com/nawwx3/StarFighter">github</a>


  <br> <br>

  <h3>School Projects</h3>
  
  Automatic Alcohol - My senior design project. There are 7 of
  us in a group working with a team of computer engineers
  (doing the hardware) building an automatic drink dispenser.
  We are developing an Android app that communicates over Bluetooth
  with a Raspberry Pi and the code that controls the Pi.
    <br>Project's location on <a href="https://github.com/bmsr56/cs4096">github</a>


{% endblock %}
